<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petsociety"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_PROCESS_LIMIT"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAH2XULc7EYmrT69Ztm-9SaVK1wKSp5x08" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.petsociety.main.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.petsociety.splashscreen.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.petsociety.account.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.petsociety.account.RegisterActivity"
            android:label="@string/title_activity_register"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.petsociety.main.OldMainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.petsociety.main.profile.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
		<activity
            android:name="com.petsociety.account.CreatePetActivity"
            android:label="@string/title_addpet" >
        </activity>
        <activity
            android:name="com.petsociety.main.profile.PetProfile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.petsociety.main.lost.LostActivity"
            android:label="@string/title_activity_lost" >
        </activity>
        <activity
            android:name="com.petsociety.main.lost.ReportLostPetLocation"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="com.petsociety.main.analysis.AnalysisActivity"
            android:label="@string/title_activity_analysis" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.NearbyActivity"
            android:label="@string/title_activity_nearby" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.NearbyDetailsActivity"
            android:label="@string/title_activity_nearby_details" >
        </activity>
        <activity
            android:name="com.petsociety.main.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.petsociety.account.AccSettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.petsociety.main.analysis.TestanaylsisActivity"
            android:label="@string/title_activity_testanaylsis" >
        </activity>
        <activity
            android:name="com.petsociety.main.RouteActivity"
            android:label="@string/title_routing" >
        </activity>
        <activity
            android:name="com.petsociety.main.profile.EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name="com.petsociety.main.profile.CreateEvent"
            android:label="@string/title_create_event" >
        </activity>
        <activity
            android:name="com.petsociety.main.profile.EventList"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.NearbyList"
            android:label="@string/title_activity_nearby_details" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.ReviewList"
            android:label="@string/title_activity_nearby_details" >
        </activity>
        <activity
            android:name="com.petsociety.main.analysis.AnalysisDetailActivity"
            android:label="@string/title_activity_analysis_detail" >
        </activity>
        <activity
            android:name="com.petsociety.main.lost.ReportLostPetActivity"
            android:label="@string/title_activity_report_lost_pet" >
        </activity>
        <activity
            android:name="com.petsociety.main.lost.LostProfileActivity"
            android:label="@string/title_activity_lost_profile" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.ShopReviewActivity"
            android:label="@string/title_activity_shop_review" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.ShopPhotosActivity"
            android:label="@string/title_activity_shop_photos" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.ShopInfoActivity"
            android:label="@string/title_activity_shop_info" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.ShopMapActivity"
            android:label="@string/title_activity_shop_map" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.LocationInfoActivity"
            android:label="@string/title_activity_location_info" >
        </activity>
        <activity
            android:name="com.petsociety.main.Activity_search_address"
            android:label="@string/title_activity_activity_search_address" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.AddLocationActivity"
            android:label="@string/title_activity_add_location" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.SetAddLocationActivity"
            android:label="@string/title_activity_set_add_location" >
        </activity>
        <activity
            android:name="com.petsociety.main.nearby.GalleryImageAdapter"
            android:label="@string/title_activity_gallery_image_adapter" >
        </activity>
    </application>

</manifest>
